/**
 * ヘッダー
 */
.header {
    padding: 10px 30px;
}

.header__log {
    text-decoration: none;
    color: #F5C800;
    font-family: 'Merriweather 120pt' , serif;
    font-size: 40px;
}

.main{
    background-color: #f8f9fa;
    padding-bottom: 100px;
}